/* CSS Document */

@charset "utf-8";

html{
	background-image: url("../hotel-assets/background.jpg")
}

#wrapper {
	width: 1920px;
	height: 1080;
}

#wrapper header h1 figure img {
    position: absolute;
    left: 72px;
    top: 5px;
    width: 198px;
    height: 57px;
    z-index: 20;
    margin-left: 5px;
}

#wrapper header h2 figure img {
    opacity: 0.302;
    position: absolute;
    left: -42px;
    top: -36px;
    width: 2005px;
    height: 156px;
}

#wrapper header h3 figure img {
    background-image: url("../hotel-assets/habitaciones.png");
    position: absolute;
    left: 117px;
    top: 230px;
    width: 1693px;
    height: 649px;
}

#wrapper header nav ul {
	list-style-type: none;
	float: right;
}

#wrapper header nav ul li {
    display: inline-block;
}
a {
    color: #152324;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin-right: 100px;
    width: 0;
    line-height: 35px;
}

a:hover {
	color: teal;
}

#wrapper header nav {
	width: 1920px;
    height: 71px;
	background-color: rgb(251, 235, 213);
	box-shadow: 0px 8px 43px 0px rgba(0, 0, 0, 0.004);
	position: absolute;
	top: -2px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

#wrapper #cuerpo {
    background-image:url("../hotel-assets/Contenido.png");
	position: absolute;
    left: 76px;
    top: 518px;
	width: 1768px;
    height: 484px;
}

#footer {
    background-image:url("../hotel-assets/Footer.png");
	position: absolute;
	left: -2px;
    top: 1020px;
    width: 1930px;
    height: 71px;
}






